@charset "UTF-8";

// 1. Configuration and helpers
    @import
    'abstracts/variables',
    'abstracts/functions',
    'abstracts/mixins';

// 2. Base stuff
    @import
    'base/fonts',
    'base/reset';

// 3. Layout sections
    @import
    'layout/footer';

// 4. Components
    @import
    'components/hero',
    'components/profilegrid';