@use 'sass:math';

@function pxrem($px) {
    @return math.div($px, 16px) * 1rem;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");


// font family declarations
$heading-font-family: "PT Serif", serif;
$normal-font-family: "Poppins", sans-serif;

// font weight
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;

  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
}

.container {
  margin: pxrem(70px) pxrem(15px) auto pxrem(12px);
}

.hero {
    h1 {
    font-family: $heading-font-family;
    font-size: pxrem(36px);
    font-weight: $weight-bold;
    line-height: 3rem;
    letter-spacing: -0.045em;
  }

  .hero-desc {
    h2 {
        font-family: $normal-font-family;
        font-weight: $weight-semibold;
        font-size: pxrem(18px);
        text-transform: uppercase;
        line-height: pxrem(27px);
        margin-bottom: pxrem(10px);
    }

    p {
        font-family: $normal-font-family;
        font-size: pxrem(14px);
        font-weight: $weight-regular;
        line-height: pxrem(21px);
        margin-bottom: pxrem(40px);
    }
  }
}

.profilegrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(pxrem(300px), auto);

    .profilegrid-pic {
        width: pxrem(140px);
        height: auto;

        &:nth-child(even) {
            align-self: end;
        }

        .profilegrid-pic-pos {
            display: flex;
            flex-wrap: wrap;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                margin-bottom: pxrem(10px);
            }
    
            .profilegrid-pic-title {
                font-family: $heading-font-family;
                font-weight: $weight-regular;
                font-size: pxrem(10px);
                text-transform: uppercase;
                transform: rotate(90deg);
                position: absolute;
                left: pxrem(75px);
                top: pxrem(60px);
                width: 100%;
                padding-bottom: pxrem(8px);
            }
        }

        .profilegrid-pic-name {
            font-family: $normal-font-family;
            font-weight: $weight-semibold;
            font-size: pxrem(14px);
            line-height: pxrem(21px);
        }
    }
}